@keyframes anim1 {
    from {
        transform: translateX(-100vh);
        opacity: 0;
    }
 
    100% {
        transform: translateX(0); 
        opacity: 1;
    }
} 

.site-header.featured-image {
    perspective: 500px;
}

.anim1 {
    transform-origin: top center;
    animation: anim1 2s;
    animation-fill-mode: forwards;
    
}

.anim3 {
    transform-origin: top center;
    animation: anim1 1s 1s forwards;
}